

:root {
  --colr:   #3606b5     ;
 --divcolor:rgba(0, 0, 0, 0.664);
}


body {
  font-size:medium;
  border: 0;
  margin: 0px;
  padding: 0px;
  min-width: 300px;
  color: rgb(255, 255, 255);
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#col2 {
  display: inline-block;
  padding: 2%;
  position: relative;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  border-right: 5px solid var(--colr);
  border-radius: 40px;
  width: 20%;
  background-color: var(--divcolor);
  min-width: 300px;
}

#side{
  position: absolute;
  display: inline-block;
  padding: 2%;
  right: 0%;
  height: 80%;
  width: 20%;
  min-width: 300px;
  background-color: var(--divcolor);
  border-left: 5px solid var(--colr);
  border-bottom-left-radius: 40px;
}

/* absolute, relative, fixed */

/* ///////////////end landing page */
input[type="text"]  {
  border: 0;
  margin: 0;
  float: right;
  border-radius: 40px;
}
#userinfo {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: 200px;
  background-color:var(--divcolor);
  color: white;
  border-bottom-left-radius: 40px;
}

#listbar { 
  
  position: absolute;
  top:auto;

left: 2%;
  height:80%;
  width: 400px;
  background-color:  var(--divcolor);
  border-right: 5px solid var(--colr);
  border-bottom-right-radius: 40px;
}
.centop,.cenbot {
 position: relative;
  display: inline-block;
  

  margin-top: 2%;
  margin-left: 25%;
  font-size: large;

  height: auto;
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

  background-color: var(--divcolor);
 }
.centop { 
  border-bottom: 5px solid var(--colr);
  border-bottom-left-radius: 40px;
}

.cenbot {
border-top: 5px solid var(--colr);
border-top-left-radius: 40px;
}


#cen1,
#cen2,
#cen3 {
  padding: 40px;
}
